.section-relative-swiper-container {
    @apply w-full relative my--0.25rem;

    .swiper {
        @apply container-fluid;
        padding: 0.25rem !important;

        .swiper-wrapper {
            @apply items-stretch;
        }
        .swiper-slide {
            height: auto;

            & > * {
                height: 100%;
            }
        }
        .swiper-notification {
            display: none;
        }
    }

    /*  */
    .section-relative-navigatior-arrow {
        @apply size-3.5rem md:size-4.25rem xl:size-5.5rem;
        @apply flex items-center justify-center;
        @apply px-1rem md:px-1.25rem xl:px-0;
        @apply absolute top-1/2 -translate-y-1/2 z-3;

        button {
            &.swiper-button-disabled {
                @apply opacity-0 pointer-events-none cursor-default;
                
                &[role='button']:focus:focus-visible {
                    outline: none;
                }
            }
        }
    }
    .section-relative-navigatior-arrow--prev {
        @apply left-0 xl:left-[calc(6.25%-5.5rem+0.25rem)];
        @media screen and (min-width: 1440.1px) {
            left: calc(((100% - 1260px) / 2) - 5.5rem + 0.25rem);
        }
    }
    .section-relative-navigatior-arrow--next {
        @apply right-0 xl:right-[calc(6.25%-5.5rem+0.25rem)];
        @media screen and (min-width: 1440.1px) {
            right: calc(((100% - 1260px) / 2) - 5.5rem + 0.25rem);
        }
    }
}

/*  */
.pagination.section-relative-pagination[role='navigation'] {
    margin-top: 2rem;

    .pagination__arrow--next:not(.swiper-button-disabled) {
        .pagination__arrow-icon {
            background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 4L10 8L6 12" stroke="%23181818" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        }
    }
    .pagination__arrow--prev:not(.swiper-button-disabled) {
        .pagination__arrow-icon {
            background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 12L6 8L10 4" stroke="%23181818" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        }
    }
    .pagination__arrow.swiper-button-disabled {
        pointer-events: none;
        cursor: default;
    }
    .pagination__arrow.swiper-button-disabled[role='button']:focus:focus-visible {
        outline: none;
    }
}
