---
/** Common Component */
import Title from '@components/common/section/title.astro';
/** Swiper */
import Swiper from '@components/common/swiper/swiper.astro';
/** Icons */
import NavigatiorArrow from '@components/common/icons/arrows/navigatiorArrow.astro';
/** Main Components */
import CollectionCard from '@components/pages/news/collectionCard.astro';
import CollectionHarCard from '@components/pages/news/collectionHarCard.astro';

export interface Props {
    IDName?: string;
    className?: any;
    attribute?: attribute;
    style?: { [key: string]: string };
}

const { IDName, className, style, attribute = {} } = Astro.props as Props;
---

<div
    id={IDName}
    class:list={[className, ':uno-article-collection: lg:container-fluid sect-p-sm md:sect-p-md xl:sect-p-lg']}
    style={style}
    {...attribute}
>
    <Title title="精選案例" />
    <div class=":uno-article-collection-inner: flex flex-col lg:flex-row gap-2rem">
        <div class=":uno-article-collection-top: container-fluid lg:w-6/12 lg:max-w-37.625rem lg:flex-none lg:mx-0">
            <CollectionCard showBreif={false} />
        </div>
        <div class=":uno-article-collection-bottom: lg:grow">
            <Swiper IDName="newsCollection" swiperClassName=":uno-news-collection-swiper: px-1rem sm:px-6.25% lg:px-0">
                <Fragment slot="outside">
                    <div
                        class=":uno-article-collection-next-button: lg:hidden size-3.5rem md:size-4.25rem flex items-center justify-center absolute top-1/2 -translate-y-1/2 right-0 z-10 [&.swiper-button-disabled]:hidden"
                        data-swiper-button-next
                    >
                        <NavigatiorArrow direction="right" />
                    </div>
                    <div
                        class=":uno-article-collection-prev-button: lg:hidden size-3.5rem md:size-4.25rem flex items-center justify-center absolute top-1/2 -translate-y-1/2 left-0 z-10 [&.swiper-button-disabled]:hidden"
                        data-swiper-button-prev
                    >
                        <NavigatiorArrow direction="left" />
                    </div>
                </Fragment>
                {
                    Array.from({ length: 3 }).map((_, index) => (
                        <div class="swiper-slide" style="width: auto;">
                            <CollectionHarCard showBreif={false} last={index === 2} />
                        </div>
                    ))
                }
            </Swiper>
        </div>
    </div>
</div>

<script>
    import { mySwiper } from '@js/components/common/swiper/swiper';

    mySwiper('#newsCollectionSwiper', {
        slidesPerView: 'auto',
        spaceBetween: 20,
        navigation: {
            nextEl: '[data-swiper-button-next]',
            prevEl: '[data-swiper-button-prev]'
        },
        observeParents: true,
        observer: true,
        observeSlideChildren: true,
        breakpoints: {
            1024: {
                direction: 'vertical',
                spaceBetween: 32,
                allowTouchMove: false, // 禁止滑動
                simulateTouch: false,
                freeMode: true
            },
            0: {
                direction: 'horizontal'
            }
        }
    });
</script>

<style lang="scss" is:global>
    #newsCollectionSwiper .swiper-slide {
        width: auto !important;
    }
    @screen lg {
        #newsCollectionSwiper .swiper-slide:last-child {
            margin-bottom: 0 !important;
        }
    }
</style>
