---
/** Data */
import { data } from '@components/pages/ivy/filter';
/** Layouts */
import AcctSideNav from '@components/pages/member/tools/acctSideNav.astro';
import ProductConfig from '@components/pages/product/productConfig.astro';
import Category from '@components/common/collapse/category.astro';
import Sort from '@components/common/sort/sort.astro';
import SolutionsCard from '@components/pages/solutions/card.astro';
import NewsCard from '@components/pages/news/card.astro';
import NewsCollectionCard from '@components/pages/news/collectionCard.astro';
import NewsCollectionHarCard from '@components/pages/news/collectionHarCard.astro';
import AboutusCard from '@components/pages/aboutus/card.astro';
import AboutusCard2 from '@components/pages/aboutus/card2.astro';
import Layouts from '@layouts/layouts.astro';
---

<Layouts IDName="Anything" className="min-h-screen bg-gray-50">
    <h1 class="text-h2 p-10 text-center">Anything</h1>
    <div class="container py-12 space-y-12">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-5">
            <AboutusCard2 />
            <AboutusCard2 />
            <AboutusCard2 />
            <AboutusCard2 />
            <AboutusCard2 />
            <AboutusCard2 />
        </div>
        <AboutusCard />
        <NewsCollectionHarCard showLogo={false} />
        <div class="md:w-672px xl:w-602px">
            <NewsCollectionCard showLogo={false} />
        </div>
        <NewsCard width={380} />
        <SolutionsCard width={380} />
        <div>
            <Sort
                total={42}
                data={[
                    { value: '1', text: '1' },
                    { value: '2', text: '2' },
                    { value: '3', text: '3' }
                ]}
            />
        </div>
        <div>
            <Category data={data} />
        </div>
        <div class="space-y-5">
            <div class="space-y-3">
                <AcctSideNav />
                <ProductConfig
                    title="Option Label"
                    price="+ $-.-"
                    priceDescription="SAVE $-.-"
                    optionHint="This selection will change other specs and price"
                />
                <ProductConfig
                    title="Option Label"
                    price="+ $-.-"
                    priceDescription="SAVE $-.-"
                    optionHint="This selection will change other specs and price"
                />
                <ProductConfig
                    title="Option Label"
                    price="+ $-.-"
                    priceDescription="SAVE $-.-"
                    optionHint="This selection will change other specs and price"
                    disabled
                />
            </div>
        </div>
    </div>
</Layouts>
