---
/** Style */
import './quantity.scss';
export interface Props {
    quantity?: string | number;
    class?: any;
}

const { quantity = '2', class: className = '' } = Astro.props;

// 確保 quantity 是字串
const displayQuantity = String(quantity);
---

<span class={`quantity-label ${className}`}>
    {displayQuantity}
</span>
