@mixin toggle-pwd-icon($state1, $state2) {
    .control-input.has-pwd-show-icon,
    .control-input.has-pwd-hide-icon {
        & + .input-icons {
            .hide-show-icon.hide-show-icon--show {
                @if $state1 == 'none' {
                    display: none;
                } @else {
                    display: inline-flex;
                }
            }
            .hide-show-icon.hide-show-icon--hide {
                @if $state2 == 'none' {
                    display: none;
                } @else {
                    display: inline-flex;
                }
            }
        }
    }
}

.password-input-wrapper {
    &[data-expand='true'] {
        @include toggle-pwd-icon('none', 'block');
    }
    &[data-expand='false'] {
        @include toggle-pwd-icon('block', 'none');
    }
}
