---
/** Layouts */
import Layouts from '@layouts/layouts.astro';
/** Global Components */

/** Common Components */
import Body from '@components/pages/member/tools/body.astro';
import Title from '@components/pages/member/tools/title.astro';
import ComfirmCode from '@components/modal/comfirm-code.astro';
import ScriptNext from '@components/common/script/script-next.astro';
import CookiesScript from '@components/common/script/cookies.astro';
import FetchWithAuthScript from '@components/common/script/fetchWithAuth.astro';
/** Main Components */
import Form from '@components/pages/member/basic-info/form.astro';
import ScriptInline from '@components/pages/member/basic-info/script-inline.astro';
/** Style */
import '@scss/pages/member/basic-info.scss';
---

<Layouts IDName="MemberBasic-info" minMarginHeader isMemberFooter>
    <Body activeTab="基本資料" activeCollapse="帳戶設定">
        <Title title="個人基本資料" showSort />
        <Form />
    </Body>
</Layouts>
<ComfirmCode />
<ScriptNext />
<CookiesScript />
<FetchWithAuthScript />
<ScriptInline />