---
/** Layouts */
import Layouts from '@layouts/layouts.astro';
/** Global Components */

/** Common Components */
import Body from '@components/pages/member/tools/body.astro';
import Title from '@components/pages/member/tools/title.astro';
import ComfirmCode from '@components/modal/comfirm-code.astro';
import ScriptNext from '@components/common/script/script-next.copy.astro';
import CookiesScript from '@components/common/script/cookies.copy.astro';
import FetchWithAuthScript from '@components/common/script/fetchWithAuth.copy.astro';
/** Main Components */
import Form from '@components/pages/member/update-password/form.astro';
import ScriptInline from '@components/pages/member/update-password/script-inline.astro';
/** Style */
import '@scss/pages/member/update-password.scss';
---

<Layouts IDName="MemberUpdate-password" minMarginHeader isMemberFooter>
    <Body activeTab="變更密碼" activeCollapse="帳戶設定">
        <Title title="變更密碼" showSort />
        <Form />
    </Body>
</Layouts>
<ComfirmCode />
<ScriptNext />
<CookiesScript />
<FetchWithAuthScript />
<ScriptInline />