.section-article-offcanvas {
    /* === Bootstrap Offcanvas Variables - Bootstrap Offcanvas 變數 === */
    --bs-offcanvas-height: 100vh; /* Offcanvas 高度 */
    --bs-offcanvas-padding-y: 0; /* Offcanvas 垂直內距 */
    --bs-offcanvas-padding-x: 0; /* Offcanvas 水平內距 */
    --bs-offcanvas-border-width: 0; /* Offcanvas 邊框寬度 */
    --bs-offcanvas-border-color: transparent; /* Offcanvas 邊框顏色 */
    --bs-offcanvas-close-size: 0; /* 關閉按鈕尺寸 */
    --offcanvas-close-background-image: transparent; /* 關閉按鈕背景圖片 */
    --bs-offcanvas-zindex: 1049; /* Offcanvas 層級 */
}