---
/** Common Component */
/** Checkbox */
import Checkbox from '@components/common/form/checkboxs/checkbox.astro';

export interface Props {
    IDName?: string;
    className?: any;
    attribute?: attribute;
    style?: { [key: string]: string };
    showTop?: boolean;
    indeterminate?: boolean;
}

const { IDName, className, style, attribute = {}, showTop = true, indeterminate = true } = Astro.props as Props;
const TopId = IDName || `main-checkbox-${Math.random().toString(36).substr(2, 9)}`;
---

<div
    id={IDName}
    class:list={[
        className,
        ':uno-checkbox-group: w-full flex flex-col gap-0.75rem pt-1.5rem border-t border-gray-200',
        { ':uno-checkbox-group-main: [&>div~div]:pl-1.5rem': showTop }
    ]}
    style={style}
    data-checkbox-group
    {...attribute}
>
    {
        showTop && (
            <Checkbox id={TopId} title={'Main Term'} attribute={{ 'data-checkbox-main': true }}>
                <slot name="title" />
            </Checkbox>
        )
    }
    <div class=":uno-checkbox-group-inner: w-full flex flex-col [&>.form-check:not(:first-child)]:mt-0.75rem">
        <slot />
    </div>
</div>

<script>
    /** Modules */
    import { useCheckboxGroup } from '@js/helpers/hook/useCheckboxGroup';
    
    /** Events */
    useCheckboxGroup();
</script>
