---
/** Common Component */
import Title from '@components/common/section/title.astro';
/** Style */
import './feature.scss';

export interface Props {
    IDName?: string;
    className?: className;
    attribute?: attribute;
    style?: { [key: string]: string };
}

const { IDName = 'solutions-feature', className, style, attribute = {} } = Astro.props as Props;
---

<div
    id={IDName}
    class:list={[className, 'solutions-feature']}
    style={{ '--bg-image': `url("/assets/images/pages/feature-BG.png")`, ...style }}
    {...attribute}
>
    <Title title="方案特色" />
    <div class="solutions-feature-container">
        <div class="solutions-feature-card-grid">
            {
                Array.from({ length: 6 }).map((_, index) => (
                    <div class="solutions-feature-card" style="--line-clamp: 6;">
                        <b class="solutions-feature-card-title">特色標題</b>
                        <span class="solutions-feature-card-text">
                            特色標題內容特色標題內容特色標題內容特色標題內容特色標題內容特色標題內容特色標題內容特色標題內容特色標題內容特色標題內容特色標題內容特色標題內容特色標題內容特色標題內容特色標題內容特色標題內容特色標題內容特色標題內容
                        </span>
                    </div>
                ))
            }
        </div>
    </div>
</div>
