---
/** Style */
import './swiper.scss';
export interface Props {
    IDName?: string;
    className?: any;
    swiperClassName?: any;
    attribute?: attribute;
    swiperAttribute?: attribute;
    style?: { [key: string]: string };
    pagination?: 'inside' | 'outside' | null;
    navigation?: 'inside' | 'outside' | null;
}

const { IDName, className, swiperClassName, style, attribute = {}, pagination, navigation, swiperAttribute = {} } = Astro.props as Props;
---

<div
    id={IDName ? `${IDName}SwiperContainer` : undefined}
    class:list={['swiper-container', className]}
    style={style}
    {...attribute}
>
    <slot name="outspace-left" />
    {
        navigation && navigation === 'outside' && (
            <div class="swiper-buttons">
                <div class="swiper-button-next" />
                <div class="swiper-button-prev" />
            </div>
        )
    }
    {pagination && pagination === 'outside' && <div class="swiper-pagination" />}
    <div id={IDName ? `${IDName}Swiper` : undefined} class:list={['swiper', swiperClassName]} {...swiperAttribute}>
        {pagination && pagination === 'inside' && <div class="swiper-pagination" />}
        {
            navigation && navigation === 'inside' && (
                <div class="swiper-buttons">
                    <div class="swiper-button-next" />
                    <div class="swiper-button-prev" />
                </div>
            )
        }
        <div class="swiper-wrapper">
            <slot />
        </div>
        <slot name="outside" />
    </div>
    <slot name="outspace" />
</div>
