---
/** Layouts */
import Layouts from '@layouts/layouts.astro';
/** Components */
import AccordionArrowExample from '@components/common/icons/arrows/AccordionArrow.example.astro';
import FlowArrowExample from '@components/common/icons/arrows/FlowArrow.example.astro';
import AfterArrowExample from '@components/common/icons/arrows/AfterArrow.example.astro';
import SocialIconExample from '@components/common/icons/social/SocialIcon.example.astro';
import BookmarkExample from '@components/common/icons/bookmark/Bookmark.example.astro';
import HeaderMenuExample from '@components/common/icons/header-menu/HeaderMenu.example.astro';
import SearchExample from '@components/common/icons/search/Search.example.astro';
import HeaderMemberExample from '@components/common/icons/header-member/HeaderMember.example.astro';
import QuantityExample from '@components/common/icons/quantity/quantity.example.astro';
import HeaderInqueryExample from '@components/common/icons/header-inquery/HeaderInquery.example.astro';
---

<Layouts IDName="icons">
    <section class="container">
        <AccordionArrowExample />
        <hr class="my-12 border-gray-300" />
        <FlowArrowExample />
        <hr class="my-12 border-gray-300" />
        <AfterArrowExample />
        <hr class="my-12 border-gray-300" />
        <SocialIconExample />
        <hr class="my-12 border-gray-300" />
        <BookmarkExample />
        <hr class="my-12 border-gray-300" />
        <HeaderMenuExample />
        <hr class="my-12 border-gray-300" />
        <SearchExample />
        <hr class="my-12 border-gray-300" />
        <HeaderMemberExample />
        <hr class="my-12 border-gray-300" />
        <QuantityExample />
        <hr class="my-12 border-gray-300" />
        <HeaderInqueryExample />
    </section>
</Layouts>
