---
/** Common Components - 通用組件 */
/** Link */
import ALink from '@components/common/link/link.astro';
import Badge from '@components/common/badges/badge.astro';

export interface Props {
    IDName?: string;
    className?: any;
    attribute?: attribute;
    style?: { [key: string]: string };
}

const { IDName, className, style, attribute = {} } = Astro.props as Props;
---

<div id={IDName} class:list={[className]} style={{ display: 'none', ...style }} {...attribute} data-filter-badges>
    <div class=":uno-category-badges: space-y-1rem py-0.75rem border-t border-gray-200">
        <div
            class=":uno-category-badges-header: w-full flex items-center justify-between text-subtitle font-roboto leading-125 font-medium text-gray-900"
        >
            排序與篩選
            <ALink title={'清除全部'} attribute={{ 'data-category-clear': '' }}>清除全部</ALink>
        </div>
        <template>
            <Badge Tag="span" status="filter" showCross><span></span></Badge>
        </template>
        <div class=":uno-category-badges-list: flex flex-wrap gap-y-0.75rem gap-x-0.5rem" data-filter-badges-list></div>
    </div>
</div>
