---
/** Data */
import { data as data01 } from '@components/pages/aboutus/data01';
import { data as data02 } from '@components/pages/aboutus/data02';
/** Layouts */
import Layouts from '@layouts/layouts.astro';
/** Global Components */

/** Common Components */
import Banner from '@components/common/banner/banner.astro';
import Nav from '@components/common/section/nav.astro';
/** Main Components */
import Section01 from '@components/pages//aboutus/section01.astro';
import Section02 from '@components/pages//aboutus/section02.astro';
import Section03 from '@components/pages//aboutus/section03.astro';
/** Style */
import '@scss/pages//aboutus.scss';

const navId = `scroll-spy-aboutus`;
---

<Layouts IDName="Aboutus" footerPages={['關於我們']}>
    <Banner img="aboutus-banner" title="關於我們" />
    <Nav
        IDName={navId}
        data={[
            { title: '跨產業合作生態', link: '#section01', offset: '#scroll-spy-aboutus' },
            { title: '競爭優勢', link: '#section02', offset: '#scroll-spy-aboutus' }
        ]}
    />
    <div>
        <Section01 IDName="section01" data={data01} />
        <Section02 IDName="section02" data={data02} />
        <Section03 IDName="section03" />
    </div>
</Layouts>


<script>
    /** Modules */
    import { useScrollSpy } from '@js/helpers/hook/useScrollSpy';
    /** Events */
    window.addEventListener('DOMContentLoaded', () => {
        const { spy } = useScrollSpy({ includeHeaderHeight: true });
        spy();
    });
</script>