#ComfirmCodeModal {
    --modal-header-padding-bottom: 1.5rem;
    --modal-body-padding-x: 0rem;
    --modal-body-align-items: flex-start;
    .modal-title span {
        --modal-title-font-size: var(--fs-30);
        --modal-title-font-family: var(--font-family-tt-norms-pro-medium);
        --modal-title-line-height: var(--line-height-120, 120%);
        --modal-title-font-weight: 500;
        --modal-title-letter-spacing: var(--letter-spacing);

        @screen md {
            --modal-title-font-size: var(--fs-36);
        }
    }
    .modal-body {
        @apply w-full max-w-30rem mx-a font-roboto;
    }
}
