---
/** Common Components */
/** Modal */
import Modal from '@components/common/modal/modal.astro';
/** Button */
import ALink from '@components/common/button/button.astro';
/** Style */
import './toast.scss';
---

<!-- Alert -->
<Modal id="toast" title="" sizes="xl" center hideFooter={true}>
    <Fragment slot="title-left">
        <div class="toast-icon" style="display: none;">
            <div class="icon-close" data-toast-icon="error" style="display: none;"></div>
            <div class="icon-check" data-toast-icon="success" style="display: none;"></div>
        </div>
    </Fragment>
    <div class="toast-body">
        <div class="toast-text" style="display: none;"></div>
        <div class="toast-footer" style="display: none;">
            <ALink
                className="toast-button"
                Tag="a"
                link="#"
                button
                attribute={{ 'data-toast-button-primary': '' }}
                style={{ display: 'none' }}
                round
            />
            <ALink
                className="toast-button"
                Tag="a"
                link="#"
                button
                attribute={{ 'data-toast-button-secondary': '' }}
                style={{ display: 'none' }}
                round
            />
        </div>
    </div>
</Modal>

<script>
    /** Modules */
    import { Toast } from '@js/components/common/toast/toast';

    const toast = new Toast();
    toast.addMethod();
</script>
