---
/** Style */
import './navigatiorArrow.scss';
export interface Props {
    IDName?: string;
    className?: any;
    attribute?: attribute;
    style?: { [key: string]: string };
    direction?: 'up' | 'down' | 'left' | 'right';
}

const { IDName, className, style, attribute = {}, direction = 'left' } = Astro.props as Props;
const componentId = IDName || `navigatior-arrow-${Math.random().toString(36).substr(2, 9)}`;
const svgStyle = {
    up: 'rotate(-90deg)',
    down: 'rotate(90deg)',
    left: 'rotate(0deg)',
    right: 'rotate(180deg)'
};
---

<button
    id={componentId}
    type="button"
    class:list={['navigatior-arrow', className]}
    title="navigator"
    {...attribute}
    style={{ transform: svgStyle[direction], ...style }}
>
</button>
