@mixin article {
    @apply lh-[0.5rem] text-gray-900 text-18 font-normal;
    br {
        content: '';
        display: block;
    }

    /** Default Text */
    :where(
            i,
            em,
            u,
            mark,
            small,
            sub,
            sup,
            s,
            del,
            ins,
            code,
            kbd,
            samp,
            var,
            q,
            blockquote,
            cite,
            abbr,
            dfn,
            time,
            data,
            ruby,
            rt,
            rp,
            wbr,
            pre,
            table
        ) {
        @apply font-roboto lh-150;
    }
    p {
        @apply mb-1rem font-roboto lh-150;
    }
    span {
        @apply inline-block text-gray-600 font-roboto text-16 lh-150 font-normal;
    }
    b,
    strong {
        @apply font-tt-medium lh-150 font-medium;
    }
    h1 {
        @apply text-30;
    }
    h2 {
        @apply text-24;
    }
    h3 {
        @apply text-20;
    }
    h4 {
        @apply text-20;
    }
    h5 {
        @apply text-18;
    }
    h6 {
        @apply text-18;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply mb-1rem font-tt-medium lh-150 font-medium;
    }
    a {
        @apply text-blue-500 hover:text-blue-600;
        @apply underline underline-offset-[var(--underline-offset)];
        @apply transition-colors duration-200 ease-in-out;
    }
    ul,
    ol {
        @apply space-y-1rem;
        @apply lh-150;
        @apply list-disc;
    }
    figcaption,
    span.note,
    p.note {
        @apply mt-0.75rem mb-1rem text-gray-600 text-16 lh-16 font-normal;
    }
    img {
        width: 100%;
        max-width: 52.5rem;
        margin-bottom: 1rem;
        border-radius: 1rem;

        & + :where(figcaption, span.note, p.note) {
            margin-top: -0.25rem;
        }
    }
    [style*='text-align: center'] img,
    img[style*='text-align: center'] {
        @apply mx-a;
    }
    [style*='text-align: right'] img,
    img[style*='text-align: right'] {
        @apply ml-a;
    }
}
