@mixin scrollbar {
    /* 軌道 */
    &::-webkit-scrollbar {
        width: var(--scrollbar-width); /* 滾動條寬度 */
    }

    /* 滑塊 */
    &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb-color); /* 滾動條滑塊顏色 */
        border-radius: var(--scrollbar-thumb-border-radius); /* 滾動條滑塊圓角 */
    }

    /* 當滑塊被懸停時 */
    &::-webkit-scrollbar-thumb:hover {
        background-color: var(--scrollbar-thumb-color); /* 滾動條滑塊懸停時的顏色 */
    }

    /* 滾動條軌道區域 */
    &::-webkit-scrollbar-track {
        background-color: var(--scrollbar-track-color); /* 滾動條軌道顏色 */
    }

    /* 滾動條軌道區域被懸停時 */
    &::-webkit-scrollbar-track:hover {
        background-color: var(--scrollbar-track-color); /* 滾動條軌道懸停時的顏色 */
        background-image: var(--scrollbar-track-background-image);
        background-repeat: repeat-y;
        background-size: contain;
    }

    /* 滾動條邊框 */
    &::-webkit-scrollbar-track-piece {
        background-color: var(--scrollbar-track-color); /* 滾動條邊框顏色 */
    }
}

.scrollbar {
    @include scrollbar;
}
