---
/** Common Component */
import ImageDesktop from '@components/common/logo/svg-astro/Business-Horizontal-Light.astro';
import ImageMobile from '@components/common/logo/svg-astro/Business-Vertical-Light.astro';
/** Link */
import A from '@components/common/link/a.astro';
/** Style */
import './logo.scss';
export interface Props {
    IDName?: string;
    className?: any;
    attribute?: attribute;
    style?: { [key: string]: string };
}

const { IDName = 'headerLogo', className, style, attribute = {} } = Astro.props as Props;
---

<A IDName={IDName} className={className} style={style} {...attribute} link="/" title={import.meta.env.PUBLIC_META_TITLE}>
    <ImageDesktop />
    <ImageDesktop />
</A>
