---
/** Common Component */
/** Link */
import A from '@components/common/link/a.astro';

export interface Props {
    IDName?: string;
    className?: any;
    attribute?: attribute;
    style?: { [key: string]: string };
}

const { IDName, className, style, attribute = {} } = Astro.props as Props;
---

<footer id={IDName} class:list={[className, ':uno-member-footer: bg-gray-50']} style={style} {...attribute}>
    <div class=":uno-member-footer-inner: container-fluid">
        <div class=":uno-member-footer-body: flex flex-col md:flex-row gap-1rem md:gap-1.5rem md:justify-start py-1.5rem border-t border-gray-200">
            <span class=":uno-footer-copyright: text-gray-600 label-02">© 2025 ASUSTeK Computer Inc. All rights reserved.</span>
            <div class=":uno-member-footer-body-links: flex items-center gap-0.75rem lh-13">
                <A className=":uno-member-footer-body-links-item: text-gray-700 label-02">使用者條款</A>
                <div class=":uno-member-footer-body-links-bar: bar"></div>
                <A className=":uno-member-footer-body-links-item: text-gray-700 label-02">隱私權保護政策</A>
            </div>
        </div>
    </div>
</footer>