---
export interface Props {
    IDName?: string;
    className?: any;
    attribute?: attribute;
    style?: { [key: string]: string };
}

const { IDName, className, style, attribute = {} } = Astro.props as Props;
---

<div id={IDName ? `${IDName}TabsContent` : undefined} class:list={[className, 'tab-content']} style={style} {...attribute}>
    <slot></slot>
</div>
