@use '../../../scss/mixin/scrollbar.scss' as scrollbar;

.offcanvas,
.offcanvas-xxl,
.offcanvas-xl,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm {
    /** Offcanvas Size */
    --bs-offcanvas-width-xxl: 100%;
    --bs-offcanvas-width-xl: 100%;
    --bs-offcanvas-width-lg: 100%;
    --bs-offcanvas-width-md: 100%;
    --bs-offcanvas-width-sm: 100%;
    /** 主要 */
    --bs-offcanvas-width: 100%;
    --bs-offcanvas-bg: var(--color-white, #ffffff);
    --bs-offcanvas-color: var(--color-gray-900, #181818);
    --bs-offcanvas-transition: all 0.2s ease-in-out;
    --bs-offcanvas-border-width: 0;
    --bs-offcanvas-border-color: transparent;
    --bs-offcanvas-close-size: 1.125rem;
    --offcanvas-close-background-image: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 3L3 15M3 3L15 15" stroke="%234D4D4D" stroke-width="1.2" stroke-linecap="round"/></svg>');
    --bs-offcanvas-title-line-height: 100%;
    /** 次要 */
    --bs-offcanvas-zindex: 1042;
    --bs-offcanvas-height: calc(100vh - var(--header-height));
    --bs-offcanvas-padding-x: 0;
    --bs-offcanvas-padding-y: 0;
    --bs-offcanvas-box-shadow: none;
    /** Offcanvas Body */
    --offcanvas-top: var(--header-height);
    --offcanvas-body-display: flex;
    --offcanvas-body-flex-direction: column;
    --offcanvas-body-align-items: flex-start;
    --offcanvas-body-justify-content: flex-start;
    --offcanvas-body-gap: 0rem;

    height: var(--bs-offcanvas-height);
    box-shadow: var(--bs-offcanvas-box-shadow);
}
.offcanvas-xxl {
    --bs-offcanvas-width: var(--bs-offcanvas-width-xxl);
}
.offcanvas-xl {
    --bs-offcanvas-width: var(--bs-offcanvas-width-xl);
}
.offcanvas-lg {
    --bs-offcanvas-width: var(--bs-offcanvas-width-lg);
}
.offcanvas-md {
    --bs-offcanvas-width: var(--bs-offcanvas-width-md);
}
.offcanvas-sm {
    --bs-offcanvas-width: var(--bs-offcanvas-width-sm);
}
.offcanvas.offcanvas-start,
.offcanvas.offcanvas-end,
.offcanvas.offcanvas-top {
    top: var(--header-height) !important;
}
.offcanvas.offcanvas-top {
    --offcanvas-top: 0;
}
.offcanvas.offcanvas-bottom {
    --offcanvas-top: auto;
}
.offcanvas-close-button {
    @apply bg-cover bg-center bg-no-repeat;
    width: var(--bs-offcanvas-close-size);
    height: var(--bs-offcanvas-close-size);
    background-image: var(--offcanvas-close-background-image);
}
.offcanvas-body {
    display: var(--offcanvas-body-display);
    flex-direction: var(--offcanvas-body-flex-direction);
    align-items: var(--offcanvas-body-align-items);
    justify-content: var(--offcanvas-body-justify-content);
    gap: var(--offcanvas-body-gap);
    @include scrollbar.scrollbar();
}

.offcanvas-backdrop {
    --bs-offcanvas-backdrop-color: var(--backdrop-color);
    --bs-offcanvas-backdrop-opacity: var(--backdrop-opacity);

    background-color: var(--bs-offcanvas-backdrop-color);

    &.show {
        opacity: var(--bs-offcanvas-backdrop-opacity);
    }
}
