.badge {
    /* === Badge 顏色 === */
    --badge-light-outline: rgba(0, 0, 0, 0.1622);
    --badge-dark-standard-bg: rgba(255, 255, 255, 0.0419);
    --badge-dark-outline: rgba(255, 255, 255, 0.093);
    --badge-danger-bg: #fde7e9;
    --badge-danger-stroke: #c42b1c;
    --badge-danger-text: #c42b1c;
    --badge-dark-danger-stroke: #ff99a4;
    --badge-dark-danger-bg: #442726;
    --badge-dark-accent-bg: #60cdff;

    /** === Badge 樣式 === */
    --badge-gap: 0.5rem;
    --badge-padding-y: 0.25rem;
    --badge-padding-x: 0.75rem;
    --badge-font-size: var(--fs-14, 0.875rem);
    --badge-font-weight: 400;
    --badge-font-family: var(--font-family-roboto);
    --badge-line-height: 100%;
    --badge-letter-spacing: var(--letter-spacing, 0);
    --badge-color: var(--color-gray-900, #181818);
    --badge-bg-color: transparent;
    --badge-border-color: var(--badge-light-outline);
    --badge-transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    --badge-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --badge-transition-duration: 200ms;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--badge-gap);
    padding: var(--badge-padding-y) var(--badge-padding-x);
    border-radius: 9999px;
    font-size: var(--badge-font-size);
    font-weight: var(--badge-font-weight);
    font-family: var(--badge-font-family);
    line-height: var(--badge-line-height);
    letter-spacing: var(--badge-letter-spacing);
    color: var(--badge-color);
    background-color: var(--badge-bg-color);
    border: 1px solid var(--badge-border-color);
    transition-property: var(--badge-transition-property);
    transition-timing-function: var(--badge-transition-timing-function);
    transition-duration: var(--badge-transition-duration);
    cursor: pointer;

    &:hover, &:focus, &.active {
        --badge-color: var(--color-white, #ffffff);
        --badge-bg-color: var(--color-blue-500, #006ce1);
        --badge-border-color: var(--color-blue-500, #006ce1);
    }
}