.fa-Icons {
    width: var(--width, 0.625rem);
    height: var(--height, 0.625rem);

    &.customStyle {
        :where(svg, path, rect, circle) {
            fill: var(--fill, inherit);
            stroke: var(--stroke, inherit);
            stroke-width: var(--strokeWidth, inherit);
            transition-property: fill, stroke;
            transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
            transition-duration: 0.2s;
        }
    }
    svg {
        width: 100%;
        height: 100%;
        transition-property: width, height;
        transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
        transition-duration: 0.2s;
    }
}
