---
/** Layouts */
import Layouts from '@layouts/layouts.astro';
---

<Layouts IDName="test" className="min-h-screen flex items-center justify-center p-6">
    <ul class="w-full max-w-lg mx-auto space-y-6 p-8 bg-white border border-gray-200 rounded-xl shadow-lg hover:shadow-xl transition-shadow duration-300 list-circle">
        <li class="text-lg font-semibold text-gray-800 border-b border-gray-200 pb-2">
            Components
        </li>
        <li class="ml-4">
            <a 
                href="/test/components/buttons" 
                class="text-blue-600 hover:text-blue-800 underline decoration-2 underline-offset-4 hover:decoration-blue-800 transition-all duration-200 font-medium"
            >
                Buttons
            </a>
        </li>
        <li class="ml-4">
            <a 
                href="/test/components/icons" 
                class="text-blue-600 hover:text-blue-800 underline decoration-2 underline-offset-4 hover:decoration-blue-800 transition-all duration-200 font-medium"
            >
                Icons
            </a>
        </li>
    </ul>
</Layouts>
