---
/** Layouts */
import Layouts from '@layouts/layouts.astro';
/** Global Components */

/** Common Components */
import Script from '@components/common/article/relative.js.astro';
import Nav from '@components/common/section/nav.astro';
import Video from '@components/modal/video.astro';
/** Main Components */
import Info from '@components/pages/ivy/[id]/info.astro';
import Follower from '@components/pages/ivy/[id]/follower.astro';
import Article from '@components/pages/ivy/[id]/article.astro';
import Relative from '@components/pages/ivy/[id]/relative.astro';
/** Style */
import '@scss/pages/ivy/[...id].scss';

export async function getStaticPaths() {
    return Array.from({ length: 10 }).map((_, index) => ({ params: { id: index } }));
}
const { id } = Astro.params;

export const prerender = true;

const navId = `scroll-spy-IvyDetail`;
---

<Layouts IDName="IvyDetail" minMarginHeader footerPages={['合作夥伴']}>
    <Nav
        IDName={navId}
        data={[
            { title: '公司介紹', link: '#IvyInformation', offset: '#scroll-spy-IvyDetail' },
            { title: '解決方案', link: '#IvyArticle', offset: '#scroll-spy-IvyDetail' },
            { title: '最新消息', link: '#IvyRelativeSwiperContainer', offset: '#scroll-spy-IvyDetail' }
        ]}
    />
    <div>
        <Info />
        <Article />
        <Relative />
    </div>
</Layouts>
<Follower />
<Script />
<Video />

<script>
    /** Modules */
    import { useScrollSpy } from '@js/helpers/hook/useScrollSpy';
    /** Events */
    window.addEventListener('DOMContentLoaded', () => {
        const { spy } = useScrollSpy({ includeHeaderHeight: true });
        spy();
    });
</script>